@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

/* header style */
header {
    margin: 90px 120px 0 120px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 36px;
    font-weight: 700;
}

.header-items {
    display: flex;
}

.header-content li {
    list-style: none;
    margin-right: 35px;
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 600;
}

.header-content li a {
    text-decoration: none;
}

.header-content img {
    max-width: 36px;
    width: 100%;
}

/* main camera */
.main-camera-content {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-top: 100px;
    padding-right: 50px;
}

.main-camera-about {
    padding-top: 120px;
}

.main-camera-about h1 {
    width: 582px;
    height: 135px;
    flex-shrink: 0;
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.main-camera-about p {
    width: 505px;
    height: 60.9px;
    flex-shrink: 0;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

.main-camera-about button {
    border-radius: 41px;
    background: #E02C6D;
    color: #FFF;
    border-top: 10px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 25px;
    cursor: pointer;
    border: 0;
}

button:hover {
    background-color: aqua;
    color: black;
}

.icon {
    display: flex;
    justify-content: space-evenly;
    margin-top: 120px;
}

/* main style */
.image-header {
    text-align: center;
    margin-top: 100px;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
}

.firsthree {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.Product-title {
    color: var(--Text-Gray-900, #18191F);
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.Product-price {
    color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.Product-description {
    color: var(--Gray-50, #787885);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}

#see {
    text-align: right;
    padding-right: 330px;
    color: rgba(224, 44, 109, 0.87);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gear {
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 70px;
}

.gear-image {
    position: relative;
    left: 50px;
}

.gear-content {
    position: relative;
    right: 250px;
    padding-top: 50px;
}

.gear-content h3 {
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
}

.gear-content p {
    max-width: 500px;
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

.gear-content button {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border: 0;
    cursor: pointer;

}

.gear-content button:hover {
    background-color: aqua;
    color: black;
}

/* footer style */

footer {
    background-color: #0A0826;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer h3 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 5px;
}

footer p {
    color: var(--Text-Gray-300, #D9DBE1);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 5px;
}
.footer-icons image{
    padding-left: 15px;
    padding-right: 15px;
}

/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        align-items: center;
    }

    .header-content,
    .header-items,
    .main-camera-content,
    .icon,
    .firsthree {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 20px;
        align-items: center;
        max-width: 450px;
    }

    .main-camera-about {
        padding-top: 10px;
    }

    .main-camera-about h1 {
        width: auto;
        height: auto;
        font-size: larger;
        line-height: 25px;
    }

    .main-camera-about p {
        width: auto;
        height: auto;

    }

    .icon {
        margin-top: 20px;
    }

    .main-camera-content img {
        width: 250px;
    }

    #see {
        padding-right: 80px;
    }
}